*, html, body, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

select,
button,
textarea,
label,
input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  background: none;
  border-radius: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img{
  border-image-width: 0;
}
